.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(169, 106, 233);
    padding-top: 2rem;
    margin: 2rem;
}

.social-btn{
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    width: 20rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: .6rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.btn-icon{
    font-size: large;
    margin-right: 1.5rem;
}

#google-btn{  
    background-color: cyan;
}

#facebook-btn{  
    background-color: blue;
}

#github-btn{  
    background-color: black;
}